.imgBubble {
    position: relative;
}

.imgBubbleNotice {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.imgBubbleExpand {
    position: absolute;
    z-index:1000;
    display: none;
}